@import "bootstrap";

.toppage_image {
  background-image: url(toppage.jpg);
  background-size: cover;
  height: 485px;
  background-position: 0% 0%;
}

.introduction {
  color: white;
  text-shadow:
    1px 0 0 black,
    0 1px 0 black,
    -1px 0 0 black,
    0 -1px 0 black
}

.tech_text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .remarks > span {
  display: block;
  }
}
